{
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@repo/(.*)$",
    "",
    "^[~|.|#]"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
